<!-- <!DOCTYPE html>
<html>
	<head>
		<title> About me </title>
		
	</head> -->

	<!-- <body> -->
  <div id="aboutpage-body">

    <div id="header">
	<h1>About me</h1>
	</div>
	
	<div id="main">
	<hr>
	<div id="detailsHeader">
	<h2 class="basic">Basic Info</h2>
	
	</div>
	
	<div id="avatar">
	<img class="avatar" src="../../assets/Avatar.png" width="150" height="200"/>
	</div>
	
	
	<div id="textMain">
		<div id="text">
			<ul>
				<li><b>Name:</b> Avinash Babu</li>
				<li><b>Location:</b> I am working out of Kaivalya Kutir 1st floor - #8 </li>
				<li><b>Programming Skills:</b> Java, C#, VBA </li>
				<li><b>Project:</b> <span style="text-decoration:underline;"> eReceipts - Automation Testing </span></li>
				<li>Hi! I've recently got introduced to the 'real' yoga. Currently enjoying the 'purposelessness' of life. I am interested in technology, public policy, volunteering.</li>
				<li>My favoutire book is Animal Farm by George Orwell.</li>
				<li>My favoutire movies are Shawshank Redemption, Casablanca, The Dark Knight and <i>Sakhi</i>(Telugu).</li>
				<li>Places to visit: Kailash, Kashi, temples of South India</li>
			</ul>
		</div>
	</div>
	
	</div>

	
	
	<div id="links">
		<div id="linksHeader">
			<br>
			<h2>Links</h2>
		</div>
		<div>
			<ol>
				<li><a href="http://google.com" target="_blank"><strong>LinkedIn</strong></a></li>
				<li><a href="http://google.com" target="_blank"><strong>Facebook</strong></a>
				<li><a href="http://google.com" target="_blank"><strong>Twitter</strong></a>
			</ol>
		</div>
	</div>
	
	<hr>
	<br>

	<div id="tableInfo">
		<p><em>Here's some infromation about my education</em></p>
		<table>
			<tr>
				<th>Class</th>
				<th>Year of passing</th>
				<th>Subjects</th>
			</tr>
				<tr>
				<td>10th</td>
				<td>2004</td>
				<td>Languages, Science and Social Studies</td>
			</tr>
			<tr>
				<td>12th</td>
				<td>2006</td>
				<td>Maths, Physics and Chemistry</td>
			</tr>
			<tr>
				<td>B.E</td>
				<td>2010</td>
				<td>Computer Science</td>
			</tr>
		</table>
	</div>

<br>
<br>
<hr>

<div id="poemDiv">
	<h3 class="underline">A Poem by Sadhguru</h3>
	<div class="poem">
		<p class="ital">Lost all sense about Sounds</p>
		<p class="ital">and Silence. In utter Chaos</p>
		<p class="ital">am in absolute Balance. Excruciating</p>
		<p class="ital">Pain enjoined with profound Pleasure.</p>
		<p class="ital">The Grief of losing a loved one also</p>
		<p class="ital">brings the gravitas of Stillness. In a</p>
		<p class="ital">world where the leaf cannot</p>
		<p class="ital">know the Sweetness of the accompanying</p>
		<p class="ital">fruit nor the Fragrance of the flower</p>
		<p class="ital">that it spawns. Here I am</p>
		<p class="ital">tasting the very source at</p>
		<p class="ital">the surface. Lost all sense</p>
		<p class="ital">of the sacred and sacrilegious.</p>
		<p class="ital">O Shambho, since I embraced you</p>
		<p class="ital">a Speck on the periphery seems to be</p>
		<p class="ital">the very Center. Valleys have turned</p>
		<p class="ital">into Peaks. What should have</p>
		<p class="ital">been utter Confusion has become Crystal Clarity.</p>
		<p class="bold ital">I am a Man with a man</p>
		<p class="bold ital">A Woman with a woman</p>
		<p class="bold ital">A creature with a creature</p>
		<p class="bold ital">A Goblin among goblins</p>
		<p class="bold ital">Just know with you I am</p>
		<p class="bold ital">You.</p>
	</div>
</div>

<div id="quote">
	<h3 class="underline">Daily Quote</h3>
	<p class="ital">Once you learn to function at the highest possible level, everything will become a play.</p>
	<p class="ital right">-Sadhguru</p>
</div>
  </div>

	<!-- </body>
</html> -->
